#include "resource.h"

IDD_GAMEOVER_DIALOG DIALOGEX 0, 0, 186, 95
CAPTION "Game Over"
BEGIN
    DEFPUSHBUTTON   "New Game", ID_GAME_NEW, 68, 10, 50, 14
    PUSHBUTTON      "High Score", ID_HIGHSCORES, 68, 30, 50, 14
    PUSHBUTTON      "Exit", ID_GAME_EXIT, 68, 50, 50, 14
END


IDD_PAUSE_DIALOG DIALOGEX 0, 0, 186, 95
CAPTION "Pause"
BEGIN
    DEFPUSHBUTTON   "Resume", ID_GAME_RESUME, 68, 10, 50, 14
    PUSHBUTTON      "New Game", ID_GAME_NEW, 68, 30, 50, 14
    PUSHBUTTON      "Exit", ID_GAME_EXIT, 68, 50, 50, 14
END